.main {
    margin: 30px;
    display: flex;
    justify-content: center;
}

p span {
  display: block;

}

button {
    display : block;
    font-family: cursive;
}

body {
    font-size : 50px;
    font-family: cursive;
}

.footer {
    display: ;
}